# Ignore temporary files and directories
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron

# Ignore build artifacts
src/


# Ignore package installation files
NAMESPACE
NAMESPACE.lock
.Rbuildignore

# Ignore CRAN submission files
cran-comments.md

# Ignore system-specific files
*.dll
*.so
*.exe
*.o
*.a
*.swp
